# Mac
.DS_Store

# Node.js
node_modules
dist

# Editor
.vscode
.idea

# Logs
*.log
*.logs

# Env
.env

# Mini Program
apps/mini/src/miniprogram_npm
apps/mini/src/**/*.js
project.private.config.json
upload-result.json
private.*.key
